
.d-flex{
    display: flex;
    list-style-type:none;
}

.flex-column{
    flex-direction: column;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}

.flex-space-between{
    justify-content: space-between;
}

.flex-space-around{
    justify-content: space-around;
}

.flex-space-evenly{
    justify-content: space-evenly;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-no-wrap{
    flex-wrap: nowrap;
}

.align-self-start{
    align-self: flex-start;
}

.align-self-center{
    align-self: center;
}

.align-self-end{
    align-self: flex-end;
}

.text-center{
    text-align: center;
}

.items-center{
    align-items: center;
}

/* -------------------------- */

.fixed{
    position: fixed;
}

.z-index{
    z-index: 10;
}

.relative{
    position:relative;
}

.absolute{
    position: absolute;
    top: 0;
    left: 0;
}

.block{
    display: block;
}
