@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    color: #221E15;
    list-style-type: none;
} 


/* HEADER CSS */
.nav-ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.nav-li-a{
    color: #221E15;
    font-size: 24px;
    font-weight: bold;
}

.nav-li-a:hover{
    color: brown;
}

.logo{
    color: #221E15;
    font-size: 40px;
}

.logo-footer{
    color: #221E15;
    font-size: 40px;
}

.logo:hover{
    color: brown;
}

.logo-a{
    display: flex;
    align-items: center;
}

.hero{
    height: 100vh;
    width: 100%;
}

.titulo{
    display: flex;
    justify-content: center;
}

.image-gray{
    filter: grayscale(80%);
    border-radius: 20%;
}

.image-gray:hover{
    transition: .5s ease-in-out;
    filter: grayscale(0%);
}

.target-bg{
    background-color: #ffc18e;
}

.shadow{
    box-shadow: 0 3px 3px rgb(0 0 0 / 10%);
}
.shadow-t{
    box-shadow: 0 -3px 3px rgb(0 0 0 / 10%);
    margin-top: 10px;
}

.shadow-box{
    box-shadow: 0px 0px 5px 1px black;
}

.white{
    color: white;
}

.anuncio{
    font-size: 28px;
    }

.off{
    background-color: red;
    border-radius: 100%;
    font-size: 40px;
    width: 100px;
    height: 100px; 
}

.cincuenta{
    padding-top: 25px;
}

.posicionar{
    padding-top: 50px;
    margin-left: 150px;
}

.input-text{
    border: none;
    border-bottom: 2px solid black;
    height: 32px;
    font-size: 16px;
    padding-left: 5px;
}

.button{
    background-color: white;
    border: 2px solid green;
    width: 80px;
    height: 40px;
}

.bold{
    font-weight: bold;
}
.normal{
    font-weight: normal;
}
.button:hover{
    background-color: green;
    color: white;
    transition-duration: 1s;
}
